div {
  margin: 10px 10px;
}

label.radio,label.checkbox {
  margin: 10px;
}

label.radio span,label.checkbox span {
  vertical-align: middle;
}

.inputNone {
  opacity: 0;
  position: absolute;
  left: -999px;
}

/*radio*/
.newInput {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  border-radius: 50%;
  margin-right: 5px;
}

input[type="radio"]:checked+span {
  border-color: #DD4A68;
}
span.newInput::before {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  transform: translate(50%,50%) scale(0);
  transition: transform .5s;
}

input[type="radio"]:checked+span.newInput::before{
  border: 1px solid #DD4A68;
  background: #DD4A68;
  transform: translate(50%,50%) scale(1);
}

/*checkbox*/
.newCheck {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-right: 5px;
}

input[type="checkbox"]:checked+span {
  border-color: #DD4A68;
}

span.newCheck::before {
  content: " ";
  display: inline-block;
  border: 2px solid #ffffff;
  width: 8px;
  height: 4px;
  position: absolute;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  transition: border 0.5s;
  left: 2px;
  top: 2px;
}

input[type="checkbox"]:checked+span.newCheck::before {
  border: 2px solid #DD4A68;
  border-right: none;
  border-top: none;
}


/*radio img*/
.newInputImg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  display: inline-block;
  background: url(./checkbox.png) no-repeat;
  background-position: -23px -9px;
}

input[type="radio"]:checked+span.newInputImg {
  background-position: -58px -9px;
}

/*checkbox img*/
.newCheckimg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  display: inline-block;
  background: url(./checkbox.png) no-repeat;
  background-position: -23px -31px;
}

input[type="checkbox"]:checked+span.newCheckimg {
  background-position: -58px -30px;
}